{{- if .Values.selfSignedCertificate.create -}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name:  {{ include "opa-sidecar-admission-controller.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "opa-sidecar-admission-controller.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "opa-sidecar-admission-controller.selectorLabels" . | nindent 6 }}
  replicas: 1
  template:
    metadata:
      labels:
        {{- include "opa-sidecar-admission-controller.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "opa-sidecar-admission-controller.serviceAccountName" . }}
      initContainers:
        - name: certificate-init-container
          image: "{{ .Values.certificateInitContainerImage.repository }}:{{ .Values.certificateInitContainerImage.tag }}"
          imagePullPolicy: {{ .Values.certificateInitContainerImage.imagePullPolicy }}
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          args:
            - "--common-name={{ .Values.selfSignedCertificate.commonName }}"
            - "--organization={{ .Values.selfSignedCertificate.organization }}"
            - "--organizational-unit={{ .Values.selfSignedCertificate.organizationalUnit }}"
            - "--country={{ .Values.selfSignedCertificate.country }}"
            - "--province={{ .Values.selfSignedCertificate.province }}"
            - "--locality={{ .Values.selfSignedCertificate.locality }}"
            - "--street-address={{ .Values.selfSignedCertificate.streetAddress }}"
            - "--postal-code={{ .Values.selfSignedCertificate.postalCode }}"
            - "--ca-duration={{ .Values.selfSignedCertificate.caDuration }}"
            - "--additional-dnsnames={{ .Values.selfSignedCertificate.additionalDNSNames }}"
            - "--service-names={{ .Release.Name }}"
            - "--hostname={{ .Values.selfSignedCertificate.hostname }}"
            - "--subdomain={{ .Values.selfSignedCertificate.subdomain }}"
            - "--cluster-domain={{ .Values.selfSignedCertificate.clusterDomain }}"
            - "--cert-dir=/etc/tls"
            - "--namespace=$(NAMESPACE)"
          volumeMounts:
            - name: tls
              mountPath: /etc/tls
        - name: mutatingwebhook-init-container
          image: "{{ .Values.mutatingWebhookInitContainerImage.repository }}:{{ .Values.mutatingWebhookInitContainerImage.tag }}"
          imagePullPolicy: {{ .Values.mutatingWebhookInitContainerImage.imagePullPolicy }}
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          args:
            - "--webhook-name={{ .Release.Name }}-webhook.twdps.io"
            - "--object-meta-name={{ .Release.Name }}-webhook"
            - "--service-name={{ .Release.Name }}"
            - "--serviceNamespace=$(NAMESPACE)"
            - "--service-path='/v0/data/istio/inject'"
            - "--namespace-selector-key={{ .Values.selfSignedCertificate.namespaceSelectorKey }}"
            - "--namespace-selector-value={{ .Values.selfSignedCertificate.namespaceSelectorValue }}"
            - "--cert-path=/etc/tls/tls.crt"
            - "--key-path=/etc/tls/tls.key"
            - "--create-secret={{ .Values.selfSignedCertificate.createSecret }}"
          volumeMounts:
            - name: tls
              mountPath: /etc/tls
      Containers:
        - name: opa
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}-envoy-rootless"
          imagePullPolicy: {{ .Values.image.imagePullPolicy }}
          args:
            - "run"
            - "--server"
            - "--tls-cert-file=/etc/tls/tls.crt"
            - "--tls-private-key-file=/etc/tls/tls.key"
            - "--addr=0.0.0.0:443"
            - "/policies/inject.rego"
          ports:
            - containerPort: 443
          livenessProbe:
            httpGet:
              path: /health?plugins
              scheme: HTTPS
              port: 443
            initialDelaySeconds: 5
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /health?plugins
              scheme: HTTPS
              port: 443
            initialDelaySeconds: 5
            periodSeconds: 5
          volumeMounts:
            - name: tls
              mountPath: /etc/tls
            - name: inject-policy
              readOnly: true
              mountPath: /policies

      volumes:
        - name: tls
          emptyDir: {}
        - name: inject-policy
          configMap:
            name: inject-policy
{{- end }}
